/* Cerfrance Broc variables */
$cer-green-color: #00a096;
$cer-blue-color: #478ab7;
$cer-orange-color: #f8b334;
$cer-red-color: #e8501f;
$cer-black-color: #4b4b4d;
$cer-light-grey-color: #efefef;
$cer-select-color: #dcdfe6;

$primary-color: $cer-blue-color;
$info-color: $cer-blue-color;
$success-color: $cer-green-color;
$warning-color: $cer-orange-color;
$danger-color: $cer-red-color;

$main-background-color: #f4f3ef;

$zindex-modal-backdrop: 1040 !default;

$dark-color: #222222;
