$loader-height: 50px;
$sm-radius: 4px;
$max-content-size: 1440px;
$max-message-width: 740px;

$success-color-with-opacity: rgba(0, 160, 150, 0.3);
$warning-color-with-opacity: rgba(248, 179, 52, 0.3);
$danger-color-with-opacity: rgba(232, 80, 31, 0.3);
$info-color-with-opacity: rgba(71, 138, 183, 0.3);
